/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  /* width: 100%; */
  padding-right: 10px !important;
  padding-left: 359px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: -450px !important;
}
